ul {
    list-style-type: none;
    margin: 0;
    width: 10%;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
    height: auto;
    float: left;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}