table, th, td {
    width: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    text-align: center;
    border: 1px solid black;
}

.Tank, .Republic {
    background-color: deepskyblue;
}

.Damage, .Imperial {
    background-color: #DD1E1E;
}

.Healer {
    background-color: limegreen;
}

table {
    border-collapse: collapse;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    display:block;
}

.sort-direction {
    display: inline-block;
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.asc {
     border-bottom: 5px solid black;
 }

.desc {
     border-top: 5px solid black;
 }

.filters {
    display: inline-flex;
    width: 26%;
    margin-left: 39%;
    text-align: center;
}

select {
    margin-bottom: 10px;
}