table, th, td {
    width: auto;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    text-align: center;
    border: 1px solid black;
}

.Tank, .Republic {
    background-color: deepskyblue;
}

.Damage, .Imperial {
    background-color: #DD1E1E;
}

.Healer {
    background-color: limegreen;
}

table {
    border-collapse: collapse;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    display:block;
}